<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contributors</title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container row">
		<div class="row col-xs-12">
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor one"><a href="https://tw.linkedin.com/in/vuonggiatuan">
						<div class="info"><span class="name">Garfield Wang</span><span class="program"> Master in Information System and Management, National Taitung University, Taiwan</span><br></div>
						</a>

					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor two"><a href="https://ca.linkedin.com/in/le-thy-phung-4aa882126" >
						<div class="info"><span class="name">Thy Phung</span><span class="program"> Psychiatric Nursing Diploma, MacEwan University, Alberta, Canada </span></div>
						</a>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor three"><a href="http://ca.linkedin.com/in/quyentang97" >
						<div class="info"><span class="name">Quyen Tang</span><span class="program"> BSc in Computer Science, minor in Business and Biology, MacEwan University, Alberta, Canada </span></div>
						</a>
					</div>
				
				</a>
			</div>
		</div><br>
		
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor four"><a href="https://www.linkedin.com/in/linhnguyenlt">
						<div class="info"><span class="name">Linh Nguyen</span><span class="program"> BSc in Computer Science and Statistics, minor in Management, Luther College, Iowa, US </span></div>
						</a>
					</div>
				</a>

			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor five"><a href="https://ca.linkedin.com/in/aubreyphan">
						<div class="info"><span class="name">Aubrey Phan</span><span class="program"> Information Technology & Services, Fairleigh Dickinson University, BC, Canada</span></div>
						</a>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor six"><a href="">
						<div class="info"><span class="name">Calvin Lee</span><span class="program"> BSc in Computer Science, University of Alberta, Canada </span></div>
						</a>

						</div>
				
				</a>
			</div>
		</div><br>

		<div class="row">
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor seven" style="background-image: url(../www/images/Nguyen-thi-thien-tram.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;"><a href="https://vn.linkedin.com/in/annie-jerry-4946a5127"
						<div class="info"><span class="name">Tram Nguyen</span><span class="program"> Graphic Design, Hoa Sen University, Ho Chi Minh City, Vietnam </span></div>
						</a>
					</div>
				</a>

			</div>
			<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor eight" <a href=""
						<div class="info"><span class="name">Hung Nguyen</span><span class="program"> BSc in Computer Science, University of Alberta, Canada</span></div>
						</a>
					</div>
				</a>
			</div>
		<div class="col-md-4 col-xs-12">
				<a href="#">
					<div class="contributor nine" style="background-image: url(../www/images/Nguyen-anh-khoi.png);background-size: contain;background-repeat: no-repeat;background-position: center;"><a href="https://ca.linkedin.com/in/khoi-nguyen-178547124"
						<div class="info"><span class="name">Khoi Nguyen</span><span class="program"> BSc in  Paleontology, University of Alberta, Canada</span></div>
						</a>
					</div>
				</a>
			</div>
		
				
			</div>
		</div>
	</div>
</body>
</html>