<!DOCTYPE html>
<head>

<form action="grade.php" method="post" id="quiz">
   <li>

    <h3>OCD Stands for...</h3>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A">A) Obsessive Compulsive Disorder </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">B) Octopus Compulsive Disorder </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">C) Obsessive Compulsive Donkey</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">D) None of the above</label>
    </div>

</li>
</form>
<form action="grade.php" method="post" id="quiz">

<li>

    <h3>What are common obsesions?</h3>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A">A) fears about dirt, germs and contamination </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">B) fears of acting out violent or aggressive thoughts or impulses </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">C)  unreasonable fears of harming others, especially loved ones; abhorrent, blasphemous or sexual thoughts</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">D) All of the above</label>
    </div>

</li>

</form>
<input type="submit" value="Submit Quiz" />